* {margin: 0; padding: 0;}

.container {width: 80%; max-width: 1200px; margin: auto;}

.red {color: white; background-color: #BD181A;}

.black {color: white; background-color: black;}

.btn {padding: 16px 23px; text-transform: uppercase; font-size: 18px; display: inline-block; font-family: 'Inter', sans-serif;}

.btn.black:hover {color: white; background-color: #BD181A;}

.btn.red:hover {background-color: black; color: white;}

h1 {font-size: 50px; line-height: 55px; font-family: "Inter", sans-serif; font-weight: 500;}

.display-2 {font-size: 57px; line-height: 55px; font-family: "Inter", sans-serif; font-weight: 500; text-transform: uppercase; line-height: 73px;}

h2 {font-size: 40px; line-height: 55px; font-family: "Inter", sans-serif; font-weight: 500;}

p {font-family: "Inter", sans-serif;}

p.body {font-size: 21px; line-height:30px;}

.headline {font-size: 15px; letter-spacing: 2px; font-family: "Inter", sans-serif; text-transform: uppercase;}

.subhead {font-size: 18px; font-family: "Inter", sans-serif; text-transform: uppercase; font-weight: 400;}

a {text-decoration: none;  transition: 0.2s;}

@media (max-width: 992px){
    h1 {font-size: 42px}

    h2 {font-size: 36px;}

    .display-2 {font-size: 50px;}

    .subhead {font-size: 16px;}

    p.body {font-size: 18px;}

    .btn {font-size: 15px;}
}

a:hover, a.subhead:hover {color: #BD181A; transition: 0.2s;}

.caption {line-height: 25px; font-size: 18px; font-family: "Inter", sans-serif;}

.d-flex {display: flex;}

ul, li {list-style: none;}

.m-auto {margin: auto;}

/* header section */

.header-section {position: fixed; width: 100vw; background-color: transparent; transition: 0.3s; z-index: 5;}

.header-section.scrolled, .header-section.open {background-color: black; transition: 0.3s;}

.header-section .container .row {padding: 60px 0; display: flex; justify-content: space-between; align-items: center;}

.header-section .container .row .col ul {gap: 48px;}

.header-section .subhead {color: white; }

.header-section .mobile {display: none;}

@media(max-width: 992px){
    

    .header-section .desktop {display: none;}

    .header-section .mobile {display: flex;}

    .header-section .mobile .fa-bars {color: white; font-size: 24px; cursor: pointer; }

    .header-section .mobile ul {display: none;  flex-direction: column;  margin: auto; text-align: center; }

    .header-section .mobile ul li {margin-bottom: 30px;}

}

/* header section */

/* banner section */

.banner-section {background: url('./images/banner-image.jpg'); background-repeat: no-repeat; background-size: cover; height: 100vh; }

.banner-section .container {height: 100%; display: flex;}

.banner-section .container .col {margin: auto; margin-left: 0 }

.banner-section .container .col .headline {margin-bottom: 14px; color: white; }

.banner-section .container .col h1 {margin-bottom: 14px; color: white; max-width: 480px;}

.banner-section .container .col .body {color: white; max-width: 400px; margin-bottom: 25px; font-weight: 300;}

@media(max-width: 992px){
    .banner-section {background-position: 62%; max-height: 800px; min-height: 600px; }

    .banner-section .container .col {text-align: center; margin: auto;}

    .banner-section .container .col h1 {max-width: unset;}

    .banner-section .container .col .body {max-width: unset;}

}

/* banner section */

/* products section */

.products-section {padding: 150px 0;}

.products-section .title-row {align-items: center; justify-content: space-between; margin-bottom: 31px;}

.products-section .cards-row {justify-content: space-between; gap: 20px;}

.products-section .cards-row .card {width: 33%;}

.products-section .cards-row .card .card-image {margin-bottom: 20px; width: 100%;}

.products-section .cards-row .card h2 {margin-bottom: 10px;}

.products-section .cards-row .card p {max-width: 360px; color: #717171;}

@media(max-width: 992px){

    .products-section .cards-row {flex-wrap: wrap;}

    .products-section .cards-row .card {width: 100%; text-align: center; max-width: 300px; margin: auto; margin-bottom: 20px}

    .products-section .cards-row .card p.caption {max-width: unset;}

    .products-section .cards-row .card:last-child {margin-bottom: 0;}

    

}

/* products  section */

/* about-us  section */

.about-us-section {padding-bottom: 160px;}

.about-us-section .col {text-align: center;}

.about-us-section .col .texts {margin: auto; max-width: 1045px;}

.about-us-section .col .subhead {margin-bottom: 16px;}

.about-us-section .col .display-2 {color: #d5d5d5;}

.about-us-section .col .display-2 .red-color {color: #BD181A;}

.about-us-section .col .display-2 .black-color {color: black;}

.key-image {display: inline-block; width: 113px; position: relative; height: 0; margin-right: 10px;}

.key-image img {position: absolute; bottom: -10px; right: 0;}

.about-us-section img.car {position: relative; bottom: 48px; width: 100%;}

@media (max-width: 992px){
    .about-us-section img.car {display: none;}
}

/* about-us  section */

/* contact-us section */

.contact-us-section {background: url(./images/vector-form.png); position: relative;}

.contact-us-section h2 {color: white; max-width: 410px; margin-bottom: 27px;}

.contact-us-section .key-image img { bottom: -5px; margin: 0;}

.contact-us-section .form-col {width: 48%; background: black; padding: 100px 0; box-sizing: border-box; padding-left: 100px;   position:relative }

.contact-us-section .form-col .container {margin-right: auto; margin-left: 0; max-width: 460px; position: relative; z-index: 2;}

.contact-us-section .car-col {background: url('./images/contact-us-bg.png'); width: 52%; background-size: cover; position: relative; z-index: 4;}

.contact-us-section .form-col form {display: block; margin-bottom: 14px;}

.contact-us-section .form-col form button {box-sizing: border-box; border: none; cursor: pointer; transition: 0.2s;}

.contact-us-section .form-col form button:hover {background-color: white; color: black; transition: 0.2s;}

.contact-us-section .form-col form input {display: block;}

.contact-us-section .form-col form textarea {display: block; height: 87px; resize: none;}

.contact-us-section .form-col form select {display: block; appearance: none; background-image: url('./images/select-vector.png'); background-repeat: no-repeat; background-position: 95%;}

.contact-us-section .vector-form {position: absolute; z-index: 1; height: 100%; right: 88%; bottom: 0;}

.contact-us-section .form-col .subhead {text-transform: none; color: #717171; }

.contact-us-section .form-col form .form-block {background-color: transparent; padding: 13px 20px; border: 1px solid #717171; width: 100%; box-sizing: border-box; color:#717171; font-size: 15px; text-transform: uppercase; font-family: 'Inter', sans-serif; margin-bottom: 14px;}
@media(max-width: 992px){

    .contact-us-section .row {flex-wrap: wrap;}

    .contact-us-section .car-col {width: 100%; min-height: 400px; height: 50vh;}

    .contact-us-section .form-col {width: 100%;padding: 100px 0; }

    .contact-us-section .form-col .container {width: 80%; max-width: unset; margin: auto; text-align: center; }

    .contact-us-section .form-col h2 {max-width: unset;}
}


/* contact-us section */